name: Build and run sanity tests
on:
  push:
    branches:
      - "master"
  pull_request: {}
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        go:
          - '1.23'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Build
        run: make cross
      - name: lint
        uses: golangci/golangci-lint-action@v7
      - name: Tests
        run: make test
      - name: Upload artifats
        uses: actions/upload-artifact@v4
        with:
          name: crc-admin-helper executables
          path: "out/**/*"
